## DAY 1

In [8]:
print("Hello World")

Hello World

In [35]:
print('Hello World !!')
# single notation denotes the string inside it.

Hello World !!

In [13]:
# This is the single line comment.

In [15]:
""" This is the multiline comment. """

' This is the multiline comment. '

In [17]:
''' This is also multiline comment. '''

' This is also multiline comment. '

In [19]:
x = 2
X = 5
print('x=', x)
print('X=', X)

x= 2
X= 5

In [33]:
name = "Dinesh Shrestha"
address = 'Kathmandu'
print("name:", name)
print('address:', address )

name: Dinesh Shrestha
address: Kathmandu

In [41]:
10name = "Dinesh"

SyntaxError: invalid decimal literal (2808274893.py, line 1)

In [45]:
name10 = "Dinesh"
print(name10)

Dinesh

In [58]:
name = "Dinesh Shrestha"
age = 22
print('Name:',name + " " + 'and Age:', age)
print(type(name))

Name: Dinesh Shrestha and Age: 22
<class 'str'>

In [82]:
name = 'Dinesh'
age = 22
fruits = {'apple', 'banana', 'mango'}
# curly braces is used for the set
colors = ['red', 'blue', 'balck']
# square brackets used for the list
countries = ('Nepal', 'China', 'India')
# parenthensis used for the tuple
print(type(name))
print(type(age))
print(type(fruits))
print(type(countries))
print(type(colors))

<class 'str'>
<class 'int'>
<class 'set'>
<class 'tuple'>
<class 'list'>

In [80]:
int_var = int(10)
str_var = str(15)
float_var = float("10.55")

print(float_var)
print(type(int_var))
print(type(str_var))
print(type(float_var))

10.55
<class 'int'>
<class 'str'>
<class 'float'>

## Day 2

In [2]:
print(7(3+8-4)/6)

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\shres\AppData\Local\Temp\ipykernel_9724\2117196371.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  print(7(3+8-4)/6)

TypeError: 'int' object is not callable

In [4]:
print('Dinesh')

Dinesh

In [6]:
# assignment operator
x = 5

x += 3

print(x)

8

In [16]:
# comparision operator

x = 8
y = 8
print(x==y)
print(x<=y)
print(x<y)

True
True
False

In [20]:
# logical operator
# Logical operators are used to combine conditional statements:
a = 2
b = 3

a > 2 and b > 2

False

In [24]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [26]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

In [28]:
'' and whatever
# '' (empty string) is boolean false

''

In [32]:
False and whatever

False

In [36]:
[] and whatever

# empty list, dic, tuples are all boolean false

[]

In [40]:
True or whatever

True

In [44]:
'Hello' or whatever

'Hello'

In [46]:
# Precedence rules
# 1. Not
# 2. And
# 3. Or

False or True and not True

False

In [50]:
# Identity Operator

x = 3
type(x) is int

True

In [52]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

In [54]:
# Membership Operator 

'h' in 'hello'

True

In [56]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [58]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

In [64]:
# Bitwise Operators
# Bitwise operators are used to compare (binary) numbers:
2 & 3

2

In [70]:
5 and 6 # gives random values

6

In [68]:
6 and 5

5

print(6 & 3)



"""
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111

## DAY 3

In [8]:
days_of_week = [ 'sunday', 'monday', 'tuesday','wednesday','thursday','friday','saturday']
print(days_of_week)

['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']

In [9]:
print(days_of_week[5])

friday

In [11]:
print(days_of_week[-5])

tuesday

In [18]:
print(days_of_week[5:])
# item 5, 6 will be selected

['friday', 'saturday']

In [23]:
days_of_week[3] = ['wed']
days_of_week

['sunday', 'monday', 'tuesday', 'wed', 'thursday', 'friday', 'saturday']

In [32]:
days_of_week[0:2] = ['sun','mon']
days_of_week

['sun', 'mon', 'tue', 'wed', 'thursday', 'friday', 'saturday']

In [35]:
days_of_week[5:6] = ["fri","sat"]
days_of_week

# it's overwrite the value of 6

['sun', 'mon', 'tue', 'wed', 'thursday', 'fri', 'sat', 'sat', 'saturday']

In [34]:
print(days_of_week[2:5])
# include the 2(tuesday) and exclude 5(friday)

['tue', 'wed', 'thursday']

In [37]:
days_of_week[1:3] = ['mon']
days_of_week

# if we give the 2 indexes and assign 1 value then 1 will be deleted (Like 'tue' is deleted)

['sun', 'mon', 'thursday', 'fri', 'sat', 'sat', 'saturday']

In [21]:
list1 = ['apple','cherry','banana']
list2 = [1,4,6]
list3 = [True, False, True]
list4 = ['dineh', 22, True, 'kathmandu']
print(type(list3))

<class 'list'>

In [41]:
list1 = ['apple','cherry','banana']
list1.insert(3,'grapes')
list1

# dot(.) is used to perform any operation, like here .insert is used for inserting value where 3 is the index
# here the  operation is performing in list1

['apple', 'cherry', 'banana', 'grapes']

In [43]:
list1.insert(-1, 'orange')
list1

['apple', 'cherry', 'banana', 'orange', 'orange', 'grapes']

In [45]:
list1.append('mango')
list1

['apple', 'cherry', 'banana', 'orange', 'orange', 'grapes', 'mango', 'mango']

In [46]:
list2 = [1,2,3,4,5]
list2.append(6)
list2

[1, 2, 3, 4, 5, 6]

In [62]:
added = [7,8]
list2.extend(added)
list2
list2.remove(7)
list2

[1, 2, 3, 6, 8, 7, 8, 7, 8, 7, 8, 7, 8, 7, 8, 7, 8, 7, 8, 7, 8]

In [51]:
list2.remove(5)
list2

ValueError: list.remove(x): x not in list

In [56]:
list2.remove(4)
list2

[1, 2, 3, 6, 7, 8, 7, 8, 7, 8]

In [66]:
fruit = ['apple', 'cherry', 'banana', 'orange', 'orange', 'grapes']
fruit.pop()
fruit
# pop removed the last item

['apple', 'cherry', 'banana', 'orange', 'orange']

In [67]:
del fruit[]
fruit

SyntaxError: invalid syntax (1936559527.py, line 1)

In [69]:
del fruit[3:4]
fruit

['apple', 'cherry', 'banana']

In [71]:
fruit.clear()
fruit

[]

In [73]:
month_list = ['january' , 'feburary' , 'march', 'april', 'may', 'june', 'july']
month_list.sort()
month_list

# sort list alphanumerically

['april', 'feburary', 'january', 'july', 'june', 'march', 'may']

In [75]:
year_list = [1998, 2001, 1990, 2010, 2005]
year_list.sort()
year_list

# sort list numerically

[1990, 1998, 2001, 2005, 2010]

In [77]:
year_list.sort(reverse = True)
year_list

# reserve=True is used for the decending order

[2010, 2005, 2001, 1998, 1990]

In [80]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
thislist

# By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:
#  In Unicode, uppercase letters have lower numerical values than lowercase letters, so when sorting,all uppercase letters (like 'A', 'B', 'C') appear before lowercase letters (like 'a', 'b', 'c').
# For example, the Unicode value for 'A' is 65, while 'a' is 97.

['Kiwi', 'Orange', 'banana', 'cherry']

In [92]:
week = ['sunday', 'Monday', 'tuesday', 'Wednesday', 'thursday','friday','Saturday']
week.sort(key = str.lower)
week

# str.lower  gives the case-sensitive sort function

['friday', 'Monday', 'Saturday', 'sunday', 'thursday', 'tuesday', 'Wednesday']

In [95]:
week = ['sunday', 'Monday', 'tuesday', 'Wednesday', 'thursday','friday','Saturday']
week.reverse()
week

# reverse function simply reverse the current sorting regardless aplhabet

['Saturday', 'friday', 'thursday', 'Wednesday', 'tuesday', 'Monday', 'sunday']

In [98]:
week = ['sunday', 'Monday', 'tuesday', 'Wednesday', 'thursday','friday','Saturday']
list_week = week.copy()
print(list_week)

# copying list using copy() method

['sunday', 'Monday', 'tuesday', 'Wednesday', 'thursday', 'friday', 'Saturday']

In [102]:
week = ['sunday', 'Monday', 'tuesday', 'Wednesday', 'thursday','friday','Saturday']
list_week = list(week)
print(list_week)

# copying list using list() method

['sunday', 'Monday', 'tuesday', 'Wednesday', 'thursday', 'friday', 'Saturday']

In [103]:
week = ['sunday', 'Monday', 'tuesday', 'Wednesday', 'thursday','friday','Saturday']
list_week = week[:]
print(list_week)

# copying list using : method

['sunday', 'Monday', 'tuesday', 'Wednesday', 'thursday', 'friday', 'Saturday']

In [105]:
list1 = [1,2,3,4,5]
list2 = ['a', 'b', 'c']
list3 = list1 + list2
print(list3)

# we can simply concatinate the list using + operator

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [110]:
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c']
for x in list2:
    list1.append(x)
print(list1)

# Another way to join two lists is by appending all the items from list2 into list1, one by one:

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [115]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [117]:
list1 = ['a', 'b', 'c']
list2 = [1,2,3,4,5]

list1.extend(list2)
list1

# use extend() method to add list2 in the end of the list1

['a', 'b', 'c', 1, 2, 3, 4, 5]

In [123]:
list1 = ['a', 'b', 'c']
list1.clear()
list1

# clear() method is used for clearing list

[]

In [125]:
''' Some of the list methods
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list 
'''

' Some of the list methods\nappend()\tAdds an element at the end of the list\nclear()\tRemoves all the elements from the list\ncopy()\tReturns a copy of the list\ncount()\tReturns the number of elements with the specified value\nextend()\tAdd the elements of a list (or any iterable), to the end of the current list\nindex()\tReturns the index of the first element with the specified value\ninsert()\tAdds an element at the specified position\npop()\tRemoves the element at the specified position\nremove()\tRemoves the item with the specified value\nreverse()\tReverses the order of the list\nsort()\tSorts the list \n'

In [127]:
mylist = ['apple', 'banana', 'cherry']
mylist[1:2] = ['kiwi', 'mango']
print(mylist)

['apple', 'kiwi', 'mango', 'cherry']

In [129]:
mylist = ['apple', 'banana', 'cherry']
mylist.pop(1)
print(mylist)

['apple', 'cherry']

In [1]:
x = 7
if x > 5:
    print('x is greater than 5')

x is greater than 5

In [5]:
x = 1
if x > 5:
    print('x is greater than 5')
elif x >= 2:
    print('x is equal or greater than 5')
else:
    print('x is equal to 1')

x is equal to 1

In [11]:
x = 3
if x == 3: print("x is equal to 3") 
# if code block in one line

x is equal to 3

In [13]:
x = 2 
print('x is eqal to 2') if x == 2 else print('x is not equal to 2')

x is eqal to 2

In [17]:
x = 35
if x > 10:
    print("x is greater than 10")
    if x < 30:
        print("but it is less than 30")
    else:
        print("and it is greater than 30 as well")

# you can put if statements inside if statements,

x is greater than 10
and it is greater than 30 as well

In [1]:
age = int(input("Enter your age: "))

if age > 18:
    print('User can vote')
elif age < 18:
    print("User can't vote")
elif age == 18:
    print('User gets citizenship to vote')

Enter your age:  20

User can vote

In [15]:

age = int(input("Enter your age: "))
print("Age is", age)

Enter your age:  21

Age is 21

## Nested Loop

In [6]:
colors = ['red','black','white']
objects = ['chair','table','house']

for i in colors:
    for j in objects:

        print(i,j)

red chair
red table
red house
black chair
black table
black house
white chair
white table
white house

In [8]:
for i in range(1,6):
    for j in range(1,11):
        print(i*j)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

## Python functions

In [19]:
def add(x,y):
    return x+y

add(5,5)

10

In [22]:
def add(x,y):
    return x+y

add(5,5,5)

TypeError: add() takes 2 positional arguments but 3 were given

In [24]:
add(5)

TypeError: add() missing 1 required positional argument: 'y'

In [28]:
def add(*nums):
    sum = 0
    for i in nums:
        sum += i
        return sum

add(1,2,3,23)

1

In [34]:
def mul(x, y = 5):
    return x*y

mul(5)

25

In [38]:
mul(5,6)

30

In [40]:
def sub(x=3, y):
    return x-y

sub(4)

SyntaxError: parameter without a default follows parameter with a default (517784540.py, line 1)

In [42]:
def sub(x, y=5):
    return x-y

sub(4)

-1

In [46]:
# Lambda functions 
sum = lambda x,y,z:x+y+z

sum(5,5,5)

15

In [52]:
# Python Tuples
test = (1,2,3)
test[0] = 5

test

TypeError: 'tuple' object does not support item assignment

In [54]:
(1,2,3) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [58]:
# python sets
# sets are unordered

set = { 1, 2, "hello", "false", "there"}
set

{1, 2, 'false', 'hello', 'there'}

In [76]:
## python dictionaries 
# Dictionaries are used to store data values in key:value pairs.

city_pop = {
    "Kathmandu":2000,
    "Chitwan":500,
    "pokhara":1000
}
print(city_pop)

{'Kathmandu': 2000, 'Chitwan': 500, 'pokhara': 1000}

In [64]:
city_pop[0]

KeyError: 0

In [68]:
city_pop['Kathmandu']

2000

In [70]:
city_pop.keys()

dict_keys(['Kathmandu', 'Chitwan', 'pokhara'])

In [72]:
city_pop.values()

dict_values([2000, 500, 1000])

In [74]:
city_pop.items()

dict_items([('Kathmandu', 2000), ('Chitwan', 500), ('pokhara', 1000)])

In [78]:
"pokhara" in city_pop

True

In [80]:
"butwal" in city_pop

False

In [88]:
city_pop['Chitwan']=800
city_pop

{'Kathmandu': 2000, 'Chitwan': 800, 'pokhara': 1000, 'chitwan': 800}

In [90]:
city_pop.update({'Chitwan':900})
city_pop

{'Kathmandu': 2000, 'Chitwan': 900, 'pokhara': 1000, 'chitwan': 800}

In [94]:
city_pop.pop('chitwan')
city_pop

{'Kathmandu': 2000, 'Chitwan': 900, 'pokhara': 1000}

In [98]:
city_pop.clear()
city_pop

# .clear() deletes all the items which is in dectionaries

{}

## OOP in python

In [118]:
# class and objects 

class Student:
    school = "School of Data Science"

In [120]:
s1 = Student()
s2 = Student()
print(type(s1))
print(s2.school)

# s1 and s2 are the objets of class Students

<class '__main__.Student'>
School of Data Science

In [124]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("Dinesh", 22)
print(p1.name)
print(p1.age)

Dinesh
22

In [142]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return 'The name is {} and age is {}'.format(self.name, self.age)

person1 = Person("Dinesh", 22)
print(person1)

The name is Dinesh and age is 22

## Modules

In [6]:
# main.py

import simple_math

# Using the sum function
result_sum = simple_math.sum(10, 5)
print(f"Sum: {result_sum}")  # Output: Sum: 15

# Using the subtract function
result_subtract = simple_math.subtract(10, 5)
print(f"Subtract: {result_subtract}")  # Output: Subtract: 5

Sum: 15
Subtract: 5

In [12]:
from fibo import fib
fib(500)

01123581321345589144233377

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.